<!doctype html>
<html lang="pt-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Gerador</title>
</head>
<body>
<div class="form">
    <h1>QR Code</h1>

    <form>
        <input type="url" id="website" name="website" placeholder="endereço" required/>
        <input type="number" id="qtd" name="qtd" placeholder="quantidade" required/>

        <button type="button" onclick="generateQRCode()">
            Gerar QRCode
        </button>
    </form>

    <div id="qrcode-container">
        <ul id="lista"></ul>
    </div>


    <script type="text/javascript">
        function generateQRCode() {
            let website = document.getElementById("website").value;
            let qtd = document.getElementById("qtd").value;

            if (qtd > 50) {
                return alert("Qty max = 50");
            }

            if (website && qtd) {
                for (let i = 0; i < qtd; i++) {
                    let qrcodeContainer = document.getElementById("lista");

                    document.getElementById("qrcode-container").style.display = "block";
                    document.getElementById("lista").style.margin = "40px";

                    let item = document.createElement('li');
                    item.appendChild(document.createTextNode(new QRCode(qrcodeContainer, `${website}/${i}`)));
                }
            } else {
                alert("Please enter a valid URL or qty");
            }
        }
    </script>
</div>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

</body>
</html>
